%%% % @format
{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -j -C c_src"},
    {"(freebsd)", compile, "gmake -j -C c_src"},
    {"(win32)", compile, "cd c_src && nmake /F Makefile.win"}
]}.
{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean distclean"},
    {"(freebsd)", clean, "gmake -C c_src clean distclean"},
    {"(win32)", compile, "cd c_src && nmake /F Makefile.win clean distclean"}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {extras, [
        {"CHANGELOG.md", #{title => "Changelog"}},
        {"README.md", #{title => "Overview"}},
        {"LICENSE.md", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/potatosalad/erlang-pqclean"},
    {source_url, "https://github.com/potatosalad/erlang-pqclean"}
]}.
